<footer class="container">
            <address itemscope itemtype="https://schema.org/Person">
            <?php if (!empty($my_name_html)) {
    ?>    <span>&copy; <span itemprop="name"><?php  echo $my_name_html; ?></span>, <time datetime="<?php echo date("Y"); ?>"><?php echo date("Y"); ?></time></span><br> <?php
} ?>
                <span itemprop="jobTitle">Web developer</span><br>
                <span itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                    <span itemprop="addressLocality">London</span>,  <span itemprop="addressCountry">United Kingdom</span>
                </span><br>
                <a href="https://www.linkedin.com/in/robdsalmon" itemprop="url">Linkedin profile</a>&nbsp;&nbsp;
                <a href="https://github.com/robsalmon" itemprop="url">Fork me on GitHub</a>
            </address>
      </footer>

    <!-- /container -->
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>  
    <script>
 if ('serviceWorker' in navigator) {
    
    window.addEventListener('load', function() {
        navigator.serviceWorker.register('https://localhost/sw.js').then(function(registration) {
         
        }).catch(function(error) {
    });
});
 }
</script>
    <noscript>Scripting is currently disabled in your browser. Although you can use this site without scripting, you can add more functionality by enabling scripting.</noscript>
    </body>
</html>

