  {% include "_header.njk" %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
        <h1>{{ title }}</h1>

    {% for tutorial in collections.tutorial %}
    <article>
<h2>
<a href="{{ tutorial.url | url }}">{{ tutorial.data.pageTitle }}</a>
</h2>
{{ tutorial.data.intro }}
</article>

    {% endfor %} 
    </div></div></div>

  {% include "_footer.njk" %}>