 {% include "_header.njk" %}
  <main id="content" class="container">
    <div class="row">
  <article class="col-md-9">
       <h1>{{ pageTitle }}</h1>
{{ content | safe }}
</article>
</div>
</main>


  {% include "_footer.njk" %}