  {% include "_header.njk" %}
 <main id="content">
  <h1>{{ title }}</h1>
  <ul>
      {% for filename in images %}
   <li><a href="img/{{ filename | url_encode }}">{{ filename }}</a></li>
  {% endfor %}
  </ul>
  </main>
  {% include "_footer.njk" %}