  {% include "_header.njk" %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
        <h1>{{ title }}</h1>

    {% for portfolio in collections.portfolio %}
    <article>
<h2>
<a href="{{ portfolio.url | url }}">{{ portfolio.data.pageTitle }}</a>
</h2>
{{ portfolio.data.intro }}
</article>

    {% endfor %} 
    </div></div></div>
  {% include "_footer.njk" %}